[submodule "DS2022_30243_Cusco_Ana_Maria_Assignment_1_Backend"]
	path = DS2022_30243_Cusco_Ana_Maria_Assignment_1_Backend
	url = https://github.com/anamaria-cusco/DS2022_30243_Cusco_Ana_Maria_Assignment_1_Backend
[submodule "DS2022_30243_Cusco_Ana_Maria_Assignment_1_Frontend"]
	path = DS2022_30243_Cusco_Ana_Maria_Assignment_1_Frontend
	url = https://github.com/anamaria-cusco/DS2022_30243_Cusco_Ana_Maria_Assignment_1_Frontend
